.annex{
    
    max-width: 100%;
    background-image: url(../images/letter.jpg) ;
    margin: 0 auto;
    display: table;
    background-size: 100% 33.35%;
    background-repeat: repeat;
    font-size: 250%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 17%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30%;
}