.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 40px;
    margin: auto;
  }
  
  .table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .design{
      background-color: rgb(3, 60, 80);
      color:white;
      font-size: 30px;
  }
  